<div class="container">
  	<div class="jumbotron">
  		<h1>Sign In</h1>
		<p>
  			<strong>Sign in through one of these services:</strong>
  		</p>
  		<div class="row">
  			<div class="col-md-1">
				<a href="/auth/facebook">
    				<%= image_tag "facebook_64.png", size: "64x64", alt: "Facebook" %>
  				</a>
  			</div>
  		</div>
	</div>
</div>

